<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PECOMPANY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header class="header">
        <h1 class="title"><span>@PECO</span>MPANY</h1>
    </header>

    <nav class="cont nav">
            <input class="b1 boton" type="button" id="Atraso" value="Atraso">
            <input class="b2 boton" type="button" id="Alumno" value="Alumno">
            <input class="b3 boton" type="button" id="Apoderado" value="Apoderado">
            <input class="b4 boton" type="button" id="Funcionario" value="Funcionario">
    </nav>

    <main class="cont main">
        <table class="table">

            <h2 class="tab-title" >Atrasos</h2>
            <thead class="Atraso b1 ">
                <tr> 
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Hora </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12345678-9</td>
                    <td>Peco</td>
                    <td>DD/MM</td>
                    <td>00:00</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <h2 class="tab-title" >Alumnos</h2>
            <thead class="Alumno b2">
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Curso</th>
                    <th>Rut Apoderado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>55666777-8</td>
                    <td>Xxxxx</td>
                    <td>Xxxxxxxx</td>
                    <td>1A</td>
                    <td>11222333-4</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <h2 class="tab-title" >Apoderados</h2>
            <thead class="Apoderado b3">
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>11222333-4</td>
                    <td>Xxxxx</td>
                    <td>Xxxxxxxx</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <h2 class="tab-title" >Funcionarios</h2>
            <thead class="Funcionario b4">
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>11222333-4</td>
                    <td>Xxxxx</td>
                    <td>Xxxxxxxx</td>
                    <td>xxxxx@email.com</td>
                </tr>
            </tbody>
        </table>

    </main>

</body>
</html>
