:root{
    --colorfondo: #32312f;
    --apoderado:  #dbb842;
    --colorletras: #fff;
    --atraso: #a86ccf;
}

html {
    font-size: 62.5%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--colorfondo);
}

html, body {
  width: 100%;
  height: 100%;
}

div {
    display: block;
}

.encabezado {
    background-color: #2d2c2c;
    background-repeat: no-repeat;
    background-size: cover;
    height: 9rem;
    display: flex;
    align-items: center;
}

.title {
    color: var(--colorletras);
    margin-left: 13rem;
    }

.boton  {
    color: var(--colorletras);
    width: 25%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border: none;
}
/*BARRA DE NAVEGACIÓN*/
.cont  {
    background-size: cover;
    text-align: center;
    color: #f1f1f1;
    font-size: 23px;
    font-weight: bold;
}
.nav {
  background-color: var(--atraso);
  
}

.boton {
    color: var(--colorletras);
    width: 25%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border: none;  
}

.main {
    padding: 0 10%;
    margin: 0px auto 0;
    height: 100%;
  }
  
  .tab-title {
    font-size: 30px;
    text-align: center;
    color: #f1f1ff;
    margin-top: 20px;
  }
  
  .table{
  width: 100%;
  border-collapse: collapse;
  }
  
  .table thead tr th{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
  }
  
  .table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
  }
  
 #b3 {
  text-align: center;
}
